.home-card-bg-cont {
    background-image: url('../../assets/best-gear.jpg');
    background-repeat: repeat-x;
    background-position: left;
    border-radius: 12px;
}

@media screen and (max-width: 1024px) {
    .home-card-bg-cont {
        background-size: 92%;
    }
}

@media screen and (max-width: 500px) {
    .home-card-bg-cont {
        background-size: cover;
        background-position: -50px;
    }
}

@media screen and (max-width: 350px) {
    .home-card-bg-cont {
        background-position: -80px;
    }
}
